<style media="screen">

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }

  .username-style{
    position:absolute;
    top: 300px;
    width: 200px;
    left: 41%;
    height: 20px;
    background-color: white;
  }

  .password-style{
    position:absolute;
    top: 340px;
    width: 200px;
    left: 41%;
    height: 20px;
    background-color: white;
  }

  .loginbutton-style{
    position:absolute;
    top: 380px;
    left: 48%;
    height: 20px;
    background-color: white;
  }

  .createbutton-style{
    position:absolute;
    top: 410px;
    left: 45%;
    height: 20px;
    background-color: white;
  }

  .header {
    background-color: white;
    height: 100px;
    width: 100%;
    line-height:19;
  }

</style>
  <h2 align="center" class="header">Welcome to Driving Assistant!</h2>
  <div text-align:center>
    <form [formGroup]= "loginForm" (ngSubmit)="onSubmit()">
      <div>
          <input formControlName="username" class= "username-style" type="text" name="username" placeholder="Enter Username Here..." required> <br/><br/>
          <input formControlName="password" class= "password-style" type="password" name="password" placeholder="Enter Password Here..." required> <br/>
          <input class="loginbutton-style" type="submit" value="Login">
          <span class="createbutton-style">
            <nav>
              <a routerLink='/newuser' routerLinkActive='active'> Create Account </a>
            </nav>
          </span>
      </div>
    </form>
  </div>
